<section class=" flex flex-col items-center justify-center">
  <div class="py-10">
    <h1>{{ section.settings.title }}</h1>
    <div class="product-container grid grid-cols-4 gap-4">
      {% for product in collections.Shirt.products %}
        <div class="product bg-gray-200 border-2 border-black p-4 m-4 shadow-lg rounded-xl">
          <a href="{{ product.url }}">
            <img
              src="{{ product.featured_image | image_url }}"
              alt="{{ product.title }}"
              width="300"
              height="300"
            >
            <h2>{{ product.title }}</h2>
            <p>{{ product.price | money }}</p>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "All Products",
  "settings": [
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "All Products"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "All Products"
    }
  ]
}
{% endschema %}
