{% if section.settings.show_annoucement %}
  <section>
    <div class="annoucement-bar">
      <div class="annoucement-bar-left-section">
        {% if section.settings.image != blank %}
          <img
            src="{{ section.settings.image | image_url: width: 100 }}"
            alt="{{ section.settings.image.alt }}"
            width="40"
            height="40"
            loading="lazy"
          >
        {% else %}
          {% assign logo_url = section.settings.image | image_url: width: 100 %}
          <img
            width="40"
            height="40"
            loading="lazy"
            src="{{ logo_url | default: 'a.png' | asset_url }}"
            alt="{{ section.settings.image.alt }}"
          >
        {% endif %}
        {% if section.settings.image_2 != blank %}
          <img
            src="{{ section.settings.image_2 | image_url: width: 100 }}"
            alt="{{ section.settings.image_2.alt }}"
            width="40"
            height="40"
            loading="lazy"
          >
        {% else %}
          {% assign image_2 = section.settings.image_2 | image_url: width: 100 %}
          <img
            width="40"
            height="40"
            loading="lazy"
            src="{{ image_2 | default: 'b.png' | asset_url }}"
            alt="{{ section.settings.image_2.alt }}"
          >
        {% endif %}
      </div>

      <div class="annoucement-bar-right-section">
        <p>{{ section.settings.annoucement_text }}</p>
      </div>
    </div>
  </section>
{% endif %}
<style>
  .annoucement-bar {
    background-color: {{ section.settings.background_color }};
    color: {{ section.settings.text_color }};
  }
</style>
{% schema %}
{
  "name": "Annoucement Bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_annoucement",
      "label": "Show Annoucement",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "This image will be displayed on the left side of the annoucement bar"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Image 2",
      "info": "This image will be displayed on the right side of the annoucement bar"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#f4f4f4"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#000000"
    }
  ],
  "presets": []
}
{% endschema %}
